<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Electronix Store</title>
<meta http-equiv="Content-Type"
	content="text/html; charset=windows-1252" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
	crossorigin="anonymous"></script>
<script type="text/javascript" th:href="@{/js/boxOver.js}"></script>
</head>

<body>
	<div id="main_container">
		<div class="top_bar">
			<div class="top_search">
				<div class="search_text">
					<div>Search</div>
				</div>
				<input type="text" class="search_input" name="search" /> <input
					type="image" th:src="@{/images/search.gif}" class="search_bt" />
			</div>
		</div>
		<div id="header">
			<div id="logo">
				<a href="/"><img th:src="@{/images/logo.png}" alt="" border="0"
					width="237" height="140" /></a>
			</div>
			<!-- end of oferte_content-->
		</div>
		<div id="main_content">
			<div id="menu_tab">
				<div class="left_menu_corner"></div>
				<ul class="menu">
					<li><a href="/" class="nav1">Home</a></li>
					<li class="divider"></li>
					<li><a href="/product" class="nav2">Products</a></li>
					<li class="divider" th:unless="${auth}"></li>
					<li th:unless="${auth}"><a href="/login" class="nav4">Log
							in</a></li>
					<li class="divider" th:if="${auth}"></li>
					<li th:if="${auth}"><a href="/logout" class="nav4">Log out</a></li>
					<li class="divider"></li>
					<li><a href="/order" class="nav5">Your order</a></li>
					<li class="divider"></li>
				</ul>
				<div class="right_menu_corner"></div>
			</div>
			<!-- end of menu tab -->
			<div class="left_content">
				<div class="title_box">Categories</div>
				<ul class="left_menu" th:each="category : ${categories}"
					style="width: 100%">
					<li class="odd" style="width: 100%"><a style="width: 100%"
						th:href="@{/category/{category_ID}(category_ID=${category.cate_id})}"
						th:text="${category.name}" /></li>
				</ul>
				<div class="banner_adds">
					<a href="/"><img th:src="@{/images/bann2.jpg}" alt=""
						border="0" /></a>
				</div>
			</div>
			<!-- end of left content -->
			<div class="center_content">
				<div class="center_title_bar">Checkout</div>
				<div>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Product</th>
								<th scope="col">Quality</th>
								<th scope="col">Price</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="detail, iter: ${checkoutDetail}">
								<th scope="row" th:text="${iter.index} + 1">0</th>
								<td th:text="${detail.name}"></td>
								<td>1</td>
								<td th:text="${detail.price}"></td>
							</tr>
							<tr>
								<th colspan="3" class="table-active">Total item:</th>
								<th th:text="${numberItem}">Total:</th>
							</tr>
							<tr>
								<th colspan="3" class="table-active">Delivery fee:</th>
								<th>20.000 VND</th>
							</tr>
							<tr>
								<th colspan="3" class="table-active">Total:</th>
								<th th:text="${total}+ 20  + '.000 VND'">Total:</th>
							</tr>
						</tbody>
					</table>
				</div>
				<a href="/card/pay">
					<button type="button" class="btn btn-primary mb-2">Pay all</button>
				</a>
			</div>
			<!-- end of center content -->
			<div class="right_content">
				<div class="title_box">Manufacturers</div>
				<ul class="left_menu" th:each="brand: ${brands}">
					<li class="odd"><a style="width: 100%"
						th:href="@{/brand/{brandId}(brandId=${brand.b_id})}"
						th:text="${brand.name}" /></li>
				</ul>
				<div class="banner_adds">
					<a href="#"><img th:src="@{/images/bann1.jpg}" alt=""
						border="0" /></a>
				</div>
			</div>
			<!-- end of right content -->
		</div>
		<!-- end of main content -->
		<div class="footer">
			<div class="left_footer">
				<img th:src="@{/images/footer_logo.png}" alt="" width="170"
					height="49" />
			</div>
		</div>
	</div>
	<!-- end of main_container -->
</body>

</html>